<!DOCTYPE html>
<html>
  <head>
    <title>StreamWithFriends - Stream</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/lollauncher.css">
  </head>
  <body>
    <div id="firstly" class="firstly"></div>
    <div id="secondary" class="secondary"></div>
    <div class="main">
      <div id="videos" class="videos"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
    <script>window.channel_id = '${data.channel_id}';</script>
    <script src="/js/lollauncher.js"></script>
    <script src="/js/stream.js"></script>
  </body>
</html>
